<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charaset="UTF-8">
    <title>Sidebar-Tutorial</title>
    <link rel="stylesheet" href="stylesheets/posts.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  </head>
  <body>
    <input type="checkbox" id="check">

    <label for="check">
      <i class="fas fa-bars" id="hambargerBtn"></i>
      <i class="fas fa-times" id="cancel"></i>
    </label>


    <div class="sidebar">
      <header>メニュー</header>
      <ul>
        <li>
          <a href="#"><i class="fas fa qrcode"></i></a>
          <li>
            <a href="#"><i class="fas fa-user"></i>マイページ</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-user-circle"></i></a>
          </li>
          <li>
            <a href="#"><i class="fas fa-compress-arrows-alt"></i>ルーレット</a>
          </li>
        </li>
      </ul>
    </div>

    <div class="bg"></div>
  </body>
</html>