<div class="bg">
    <p class='title-t'>T</p>
    <p class="title-he">he</p>
    <p class="title-i">I</p>
    <p class="title-p">pp</p>
    <p class="title-o">○</p>
    <p class="title-n">n</p>
    <a class="btn-log" href="sessions/new.html.erb">ログイン</a>
    <a class="btn-new" href="#">新規登録</a>
</div>

<div class="wrapper">
  <div class="side-bar">
    <%= render "shared/side_bar" %>
  </div>
  <div class="chat">
    <%= render "shared/main_chat" %>
  </div>
</div>